<!--Footer-->
<footer>
  <span class="follow">Follow & Connect:</span>
  <section class="footer-icons">
    <a rel="noopener" href="https://twitter.com/AbRahman_Ra" target="_blank">
      <img src="./images/social/twitter.png" alt="twitter clickable icon" />
    </a>
    <a
      rel="noopener"
      href="https://linkedin.com/in/AbRahman-Ra"
      target="_blank"
    >
      <img src="./images/social/linkedin.png" alt="linkedin clickable icon" />
    </a>
    <a rel="noopener" href="https://github.com/AbRahman-Ra" target="_blank">
      <img src="./images/social/github.png" alt="github clickable icon" />
    </a>
    <a
      rel="noopener"
      href="https://youtube.com/@Abdurrahman-Ra"
      target="_blank"
    >
      <img src="./images/social/youtube.png" alt="youtube clickable icon" />
    </a>
  </section>
  <p>
    &copy; Copyright {currentYear}, all rights & credits reserved for the
    author: Abdurrahman Tantawi
  </p>
</footer>
