<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/css/master.css" />
    <link rel="stylesheet" href="./styles/css/errors/not-found.css" />
    <link rel="icon" href="./images/favicon.png" type="png" />
    <title>Page Not Found - API</title>
  </head>

  <body>
    <!--Logo-->
    <section class="logo-container">
      <a href="/">
        <img
          src="./images/logo.svg"
          alt="The website logo, showing the Arabic letter Ain, merged with the musical scale"
          class="logo"
          id="logo"
        />
        <label for="logo">Arabic Pop Icons</label>
      </a>
    </section>
    <section class="not-found-section">
      <h1>Error 404: The Page You Request is Not Found</h1>
      <a href="/">
        <button><h2>Back to Home</h2></button>
      </a>
    </section>
  </body>
</html>
